.bg-orange {
    background-color: orange;
}

.btn-orange {
    background-color: orange;
}

.text-orange {
    color : orange;
}

.bg-lightgoldenrodyellow {
    background-color:lightgoldenrodyellow ;
}

.bg-yellow {
    background-color:yellow ;
}

.bg-lightsalmon {
    background-color:lightsalmon ;
}
